@model DocusignSigningInfo

@{
    ViewBag.Title = "DocuSign Templates";
}

@using (Html.BeginForm())
{
    <div class="text-left">
        <p>@Html.LabelFor(m => m.EnvelopeTemplate.Name, new {style = "width:200px"}) @Html.TextBoxFor(m => m.EnvelopeTemplate.Name, new {style = "width:500px"})</p>
        <p>@Html.LabelFor(m => m.EnvelopeTemplate.Uri, new {style = "width:200px"}) @Html.TextBoxFor(m => m.EnvelopeTemplate.Uri, new {style = "width:500px"})</p>
        <p>@Html.LabelFor(m => m.EnvelopeTemplate.TemplateId, new {style = "width:200px"}) @Html.TextBoxFor(m => m.EnvelopeTemplate.TemplateId, new {style = "width:500px"})</p>
        <hr/>
        <p>@Html.EditorFor(m => m.Customer)</p>
    </div>

    <hr/>

    <input type="submit" name="btnSendDocument"              value="Send"      formaction="/Docusign/Send"  formmethod="post"/>
    <input type="submit" name="btnSendDocumentWithEmbedding" value="Embedding" formaction="/Docusign/EmbeddedSigning" formmethod="post"/>
}
